@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/manrope/v15/xn7gYHE41ni1AdIRggexSg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
	/* global settings */
	--font-normal: "Manrope", "Poppins", "Open Sans", sans-serif;
	--font-mono: "monospace";

	--color-background: linear-gradient(233deg, rgba(1,2,8,1) 0%, rgba(4,14,24,1) 11%, rgba(5,17,19,1) 33%, rgba(6,16,24,1) 48%, rgba(6,12,20,1) 67%, rgba(6,9,22,1) 87%, rgba(3,9,22,1) 100%);
	--color-background-accent: rgb(142, 231, 241);
	--color-text: rgb(240, 240, 240);
	--color-text-secondary:rgb(132, 166, 167);
	--color-text-accent: rgb(100, 123, 200);
	--color-image-monochrome-accent: rgba(200, 0, 250, 0.5);

	/* website structure */

	/* wall */
		/* panel */
			/* header */
			/* content */
			/* footer */

	/* The "panel" refers to the space where all content of the page sits in.  */
	/* The outside of the panel is the "wall" (panel sits on wall).            */

	/* When creating styles, the panel and the wall are effectively the same   */
	/* unless the panel has a maximum width, allowing the wall and panel to be */
	/* viewed separately.                                                      */

	/* The panel can be as simple as defining a maximum width for the site, or */
	/* as complex as having a "floating window" effect overtop a static        */
	/* background (glassmorphism).                                             */

	/* NOTE: the wall will never have any content within it (that isn't in the */
	/* panel. The only relevant CSS property it has is background (panel is    */
	/* expected to handle margins and padding).                                */

	/* pages */

	/* Pages that are blog posts and pages that aren't will have different     */
	/* headers and footers, with blog posts having minimal info to keep people */
	/* focused on the post, and the other pages having normal stuff.           */

	/* This is a key part of the website that cannot be changed.               */

	/* text highlighting colors */
	--highlight-color:rgb(10, 9, 9);
	--highlight-background: rgb(122, 255, 252);
	--highlight-color-secondary: var(--highlight-color);
	--highlight-color-background: var(--highlight-color-background);

	/* PANEL SETTINGS */
	--panel-background: rgba(255, 255, 255, 0.2);
	--panel-radius: 16px;
	--panel-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	--panel-filter: blur(5px);
	--panel-border: 1px solid rgba(255, 255, 255, 0.3);

	/* header */
	--header-flex-direction: row;
	--header-padding: 8px;
	--header-padding-top: calc(var(--header-padding) - var(--panel-radius));
	--header-title-weight: 700;

	/* --- */

	font-size: 100%;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}


html {
	background: var(--color-background);

	/* https://www.frontend.fyi/tutorials/finally-a-fix-for-100vh-on-mobile */
	min-height: 100dvh;
}

* {
	color: var(--color-text);
	font-family: var(--font-normal);
}

h1, h2, h3, h4, h5, h6, p, li, a, input, textarea, div, select, article, main {

}

code {
	font-family: var(--font-mono);
}

a:hover {
	color: var(--color-text-accent);
}

::selection {
	color: var(--highlight-color);
	background: var(--highlight-background);
}
