	code[class*="language-"],
pre[class*="language-"] {
	background: none;
	font-family: var(--font-mono);
	font-size: 1rem;
	text-align: left;
	/* text-shadow: 0 -.1rem .2em black; */
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: var(--code-color-background);
	font-family: var(--font-mono);
	font-size: 1rem;
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: var(--code-radius);
	border: var(--code-border);
	color: var(--code-color-text-normal);
	/* box-shadow: 1px 1px .5em black inset; */
	margin: .5em 0;
	overflow: auto;
	padding: 1rem;
	font-family: var(--font-mono);
	font-size: 1rem;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	// border-radius: .3em;
	border: .13em solid hsl(0, 0%, 33%);
	box-shadow: 1px 1px .3em -.1rem black inset;
	padding: .15em .2em .05em;
	white-space: normal;
	font-family: var(--font-mono);
	font-size: 1rem;
	background: var(--code-color-background-inline);
}

/* how does this not just run on every other code block. like HOW */
:not(pre) > code {
	background: var(--code-color-background-inline);
	outline: 0.15rem solid var(--code-color-background-inline);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--code-color-text-comment);
	font-family: var(--font-mono);
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
	/* color: hsl(14, 58%, 55%); #CF6A4C */
	font-size: 1rem;
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
	color: var(--code-color-text-keyword);
	font-family: var(--font-mono);
	font-size: 1rem;
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
	color: var(--code-color-text-symbol);
	font-family: var(--font-mono);
	font-size: 1rem;
}

.token.atrule {
	/* color: hsl(218, 22%, 55%); #7587A6 */
}

.token.regex,
.token.important {
	color: var(--code-color-text-keyword);
	font-family: var(--font-mono);
	font-size: 1rem;
}

.token.entity {
	cursor: help;
	font-family: var(--font-mono);
	font-size: 1rem;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
	color: var(--code-color-text-keyword);
	font-family: var(--font-mono);
	font-size: 1rem;
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
	position: relative;
	z-index: 1;
	font-family: var(--font-mono);
	font-size: 1rem;
}

.line-highlight.line-highlight {
	background: hsla(0, 0%, 33%, 0.25); /* #545454 */
	background: linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	margin-top: 0.75em; /* Same as .prism’s padding-top */
	z-index: 0;
	font-family: var(--font-mono);
	font-size: 1rem;
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	/*background-color: hsl(215, 15%, 59%); /* #8794A6 */
	/*color: hsl(24, 20%, 95%); /* #F5F2F0 */
}
