.background {
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -10;
}

.posts {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;

	--posts-outline-width: 2px;
	--column-gap: 2px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	gap: var(--posts-outline-width);
}
	.posts__li {
		display: flex;
		justify-content: space-between;
		gap: calc(var(--posts-outline-width) * 2 + var(--column-gap));
	}
	.posts__a {
		text-decoration: none;
		display: block;
		color: var(--color-text);
		flex-grow: 1;
	}
	.posts__a:hover,
	.posts__a:focus {
		color: var(--highlight-color);
		background: var(--highlight-background);
		outline: var(--posts-outline-width) solid var(--highlight-background);
	}
	.posts__a:hover + .posts__timestamp,
	.posts__a:focus + .posts__timestamp {
		text-decoration: none;
		color: var(--highlight-color-secondary);
		background: var(--highlight-background-secondary);
		outline: var(--posts-outline-width) solid var(--highlight-background-secondary);
	}
	.posts__timestamp {
		flex: none;
		color: var(--color-text-accent);
	}

.categories {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: space-between;
	flex-wrap: wrap;
}

.themes {
}

	.themes__button {
		background: none;
		border: none;
	}

	.themes__button:hover,
	.themes__button:focus {
		color: var(--highlight-color);
		background: var(--highlight-background);
		cursor: pointer;
	}

	.themes__button:hover::before,
	.themes__button:focus::before {
		content: "> ";
	}

.postHeader {
	padding: calc(var(--panel-padding) / 2) var(--panel-padding);
	padding-top: 0;
	margin: 0;
	border-radius: var(--panel-radius) var(--panel-radius) 0 0;
}
	.postHeader::after {
		content: "///////";
		display: block;
		margin: auto;
		text-align: center;
	}
	.postHeader__title {
		/* line-height: 1; */
		margin: 0;
		padding-top: var(--panel-padding);
		margin-bottom: 0;
	}

	.postHeader__description {
		color: var(--color-text-accent);
	}

	.postHeader__tags {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		gap: 0.25rem;
	}

	.postHeader__options {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		text-decoration: none;
	}

	.postHeader__option {
		text-decoration: none;
	}

	.postHeader__option:hover::before,
	.postHeader__option:focus::before {
		content: "> ";
	}

.postContent {
	padding: calc(var(--panel-padding) / 2) var(--panel-padding);
	padding-top: calc(var(--panel-padding) / 2);
}

	.postContent h2 a,
	.postContent h3 a,
	.postContent p {
	}

	.postContent h2 a {
		text-decoration: none;
		color: var(--highlight-color);
		background: var(--highlight-background);
		padding: 0 0.25rem;
		width: 100%;
		display: block;
		box-sizing: border-box;
	}

	.postContent h2 a:hover::after,
	.postContent h2 a:focus::after {
		content: " #";
	}

	.postContent h3 a {
		text-decoration: none;
		color: var(--highlight-color-secondary);
		background: var(--highlight-background-secondary);
		padding: 0 0.5rem;
	}

	.postContent h3 a:hover::after,
	.postContent h3 a:focus::after {
		content: " #";
	}

	.postFooter::before {
		content: "///////";
		display: block;
		margin: auto;
		text-align: center;
		margin-bottom: var(--panel-padding);
	}

	.postFooter__centerLink {
		text-decoration: none;
		display: block;
		width: fit-content;
		margin: auto;
		background: rgba(0,0,0,0);
		border: none;
		cursor: pointer;
	}

	.postFooter__centerLink:hover,
	.postFooter__centerLink:focus {
		color: var(--color-text-accent);
	}

	.postFooter__pageSwapper {
		margin: 0;
		padding: 0;
		list-style: none;
		padding: var(--panel-padding);
		display: flex;
		flex-direction: row;
		/* align-items: space-between; */
		justify-content: space-between;
	}

	.postFooter__previous {
		text-align: left;
	}

	.postFooter__next {
		text-align: right;
	}
