---
permalink: /posts/
title: Posts
eleventyNavigation:
  key: Posts
  order: 3
---

<h1>Posts</h1>

<h2>Filter by Category</h2>

<ul class="categories">
	{%- for category in categories %}
	<li class="categories__li">
		<a
			class="categories__a"
			href="/category/{{ category.name | slugify }}/"
		>
			{{ category.name }}
		</a>
	</li>
	{%- endfor %}
</ul>

<h2>Full Archive</h2>

{% set posts_list = collections.post %}
{% include "posts_list.njk" %}
