---js
const numberOfLatestPostsToShow = 3;
---
{% set post_count = collections.post | length %}
{% set latest_post_count = post_count | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latest_post_count }} Post{% if latest_post_count != 1 %}s{% endif %}</h1>

{% set posts_list = collections.post | head(-1 * numberOfLatestPostsToShow) %}
{% set post_list_counter = post_count %}
{% include "posts_list.njk" %}

{% set more_posts = post_count - numberOfLatestPostsToShow %}
{% if more_posts > 0 %}
<p>{{ more_posts }} more post{% if more_posts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
