.wall {
	--max-content-width: 65ch;
}

.content {
	display: block;
	max-width: var(--max-content-width);
	margin: auto;
}

.header__content {
	background: var(--color-text);
	color: var(--color-background);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__ul {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.header {
	min-width: 100vw;
	max-width: 100vw;
	width: 100vw;
	display: block;
}

.header__a {
	text-decoration: none;
	display: block;
	background: var(--color-text);
	color: var(--color-background);
}

@media only screen and (min-width: 800px) {
	.header {
		margin: auto;
		background: var(--color-text);
	}
	.header__content {
		margin: auto;
		flex-direction: row;
		justify-content: space-between;
		max-width: var(--max-content-width);
	}

	.header__ul {
		padding-right: 1rem;
	}
}

@media only screen and (min-width: 1400px) {
	.wall {
		--header-width: 350px;
	}

	.header, .tableOfContents {
		position: fixed;
		left: 0;
		top: 0;
		min-height: 100%;
		min-width: var(--header-width);
		max-width: var(--header-width);

		background: var(--color-text);
		color: var(--color-background);
	}
	.header__content {
		align-items: start;
		margin-left: 1rem;
		flex-direction: column;
	}

	.header__ul {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0rem;
		padding: 0;
	}

	.header__siteTitle:hover::before,
	.header__siteTitle:focus::before {
		content: "> ";
	}

	.header__a:hover::before,
	.header__a:focus::before {
		content: "> ";
	}
}

	.header__siteTitle {
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		background: var(--color-text);
		color: var(--color-background);
	}

.content, .postContent {
	margin: auto;
	display: block;
	padding: 1rem;
	padding-top: 0;
}

.postPanel {
	display: block;
	max-width: var(--max-content-width);
	margin: auto;
}

.postHeader {
	margin: auto;
	display: block;
	position: static;
	padding: 1rem;
	background: var(--color-text);
	color: var(--color-background);
}

.postHeader * {
	background: var(--color-text);
	color: var(--color-background);
}

.postFooter {
	max-width: var(--content-width);
	margin: auto;
	margin-top: 1rem;
	padding-top: 1rem;
	padding: 1rem;
	background: var(--color-text);
	color: var(--color-background);
}

.postFooter * {
	background: var(--color-text);
	color: var(--color-background);
}

.tableOfContents {
	background: var(--color-text);
	color: var(--color-background);
	display: none;
}

.tableOfContents__title {
	font-size: 2rem;
}

.tableOfContents a {
	text-decoration: none;
	background: var(--color-text);
	color: var(--color-background);
}

.tableOfContents > * {
	background: var(--color-text);
	color: var(--color-background);
}

.toc {
	display: block;
}

.toc > ol {
	padding: 0;
	margin-top: 0;
	list-style-type: none;
}

.toc > ol > li > ol {
	list-style-type: none;
	padding-left: 1rem;
}

.toc a {
	text-decoration: none;
}

@media only screen and (min-width: 1400px) {
	.postHeader {
		background: var(--color-background);
		color: var(--color-text);
		padding: 0.5rem;
		padding-top: 0rem;
		margin: 1rem;
	}

	.postHeader * {
		background: var(--color-background);
		color: var(--color-text);
	}

	.postFooter {
		background: var(--color-background);
		color: var(--color-text);
	}

	.postFooter * {
		background: var(--color-background);
		color: var(--color-text);
	}

	.tableOfContents {
		display: block;
		z-index: 9999;
	}

	.tableOfContents * {
		background: var(--color-text);
		color: var(--color-background);
	}

	.tableOfContents a {
		display: block;
	}

	.tableOfContents a:hover,
	.tableOfContents a:focus {
		color: var(--color-text-accent);
	}

	.toc li {
		margin-top: 0.25rem;
	}

	.tableOfContents__content {
		align-items: start;
		padding: 1rem;
		padding-left: 2rem;
	}
}
