@import url("_side.css");

.content, .postContent {
	padding-top: 0;
}

.content > *:first-child,
.postContent > *:first-child{
	margin-top: 0;
}

.header__content {
	color: var(--color-text);
	background: var(--color-background);
}

.header__a {
	color: var(--color-text);
	background: var(--color-background);
}

@media only screen and (min-width: 800px) {
	.header {
		color: var(--color-text);
		background: var(--color-background);
	}
}

@media only screen and (min-width: 1400px) {
	.content, .postContent {
		padding-top: 1rem;
	}

	.header, .tableOfContents {
		color: var(--color-text);
		background: var(--color-background);
	}
}

	.header__siteTitle {
		color: var(--color-text);
		background: var(--color-background);
	}

.postHeader {
	color: var(--color-text);
	background: var(--color-background);
}

.postHeader * {
	color: var(--color-text);
	background: var(--color-background);
}

.postFooter {
	color: var(--color-text);
	background: var(--color-background);
}

.postFooter * {
	color: var(--color-text);
	background: var(--color-background);
}

.tableOfContents {
	color: var(--color-text);
	background: var(--color-background);
}

.tableOfContents a {
	color: var(--color-text);
	background: var(--color-background);
}

.tableOfContents a:hover,
.tableOfContents a:focus {
	color: var(--color-text-accent);
}

.tableOfContents > * {
	color: var(--color-text);
	background: var(--color-background);
}

@media only screen and (min-width: 1400px) {
	.postHeader {
		color: var(--color-text);
		background: var(--color-background);
	}

	.postHeader * {
		color: var(--color-text);
		background: var(--color-background);
	}

	.postFooter {
		color: var(--color-text);
		background: var(--color-background);
	}

	.postFooter * {
		color: var(--color-text);
		background: var(--color-background);
	}

	.tableOfContents * {
		color: var(--color-text);
		background: var(--color-background);
	}
}
