@import url("_panel.css");

.panel, .postPanel {
	background: rgba(255, 255, 255, 0.02);
	border-radius: 16px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
	backdrop-filter: blur(3.3px);
	-webkit-backdrop-filter: blur(3.3px);
	border: 1px solid rgba(255, 255, 255, 0.15);
}
