.panel, .postPanel {
	background: rgba(255, 255, 255, 0.02);
	border-radius: 16px;
	padding: 16px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0);
	backdrop-filter: blur(3.3px);
	-webkit-backdrop-filter: blur(3.3px);
	border: 1px solid rgba(255, 255, 255, 0.15);

	max-width: 70ch;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
}

.header {
	padding: 16px 0;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid var(--color-text-accent);
}
	.header__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.header__siteTitle {
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
	}

	.header__siteTitle:hover::before,
	.header__siteTitle:focus::before {
		content: "> ";
	}

	.header__ul {
		display: flex;
		align-items: center;
		gap: 2rem;
		list-style-type: none;
		list-style-position: outside;
		padding: 0;
	}

	.header__a {
		text-decoration: none;
	}

	.postContent h2 a {
		padding: 0;

		color: var(--color-text);
		background: none;

		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--highlight-background);
	}

	.postContent h3 a {
		padding: 0;

		color: var(--color-text);
		background: none;

		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--highlight-background-secondary);
	}
