.panel, .postPanel {
	max-width: 60ch;
	margin: auto;
	margin-bottom: 64px;
	padding: 16px;
}

.header {
	padding: 16px 0;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid var(--color-text-accent);
}
	.header__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.header__siteTitle {
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
	}

	.header__siteTitle:hover::before,
	.header__siteTitle:focus::before {
		content: "> ";
	}

	.header__ul {
		display: flex;
		align-items: center;
		gap: 2rem;
		list-style-type: none;
		list-style-position: outside;
		padding: 0;
	}

	.header__a {
		text-decoration: none;
	}

	.postContent h2 > a {
		color: var(--color-background);
		font-size: 2.5rem;
		background: var(--color-text);
		padding: 0.5rem 1rem;
		line-height: 1.0;
		max-width: 100%;
		display: block;
		text-decoration: none;
		text-wrap: wrap;
	}

	.postContent h3 > a {
		border-bottom: 5px solid var(--highlight-background-secondary);
		background: none;
		display: inline-block;
		line-height: 1;
		display: block;
		font-size: 1.5rem;
		padding: 0;
		text-decoration: none;
		text-wrap: wrap;
	}
