<!doctype html>
{# _data/metadata.json is used to provide "global site data"                #}
{# _data is set up as the global data folder, which means every template in #}
{# the repository has access to it. In this case, templates can access the  #}
{# site's metadata through "metadata.variable" #}

{# When you see "foo or metadata.foo", it means that templates can override #}
{# the value being set. For example, blog posts will override the           #}
{# description meta tag (along with any other page that sets description    #}
{# in front matter)                                                         #}

<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if title %}
				{% if metadata.short_title == "" %}
					{{ title }}
				{% else %}
					{{ title }} | {{ metadata.short_title }}
				{% endif %}
			{% else %}
				{{ metadata.title }}
			{% endif %}
		</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		{% css %}
			{% include "public/css/__reset.css" %}
			{% include "public/css/_root.css" %}
			{% include "public/css/styles.css" %}
		{% endcss %}

		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</head>
	<body>
		<div>{{ content | safe }}</div>
	</body>
</html>
