<!doctype html>
{# _data/metadata.json is used to provide "global site data"                #}
{# _data is set up as the global data folder, which means every template in #}
{# the repository has access to it. In this case, templates can access the  #}
{# site's metadata through "metadata.variable" #}

{# When you see "foo or metadata.foo", it means that templates can override #}
{# the value being set. For example, blog posts will override the           #}
{# description meta tag (along with any other page that sets description    #}
{# in front matter)                                                         #}

<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% if title %}
				{% if metadata.short_title == "" %}
					{{ title }}
				{% else %}
					{{ title }} | {{ metadata.short_title }}
				{% endif %}
			{% else %}
				{{ metadata.title }}
			{% endif %}
		</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		{% css %}
			@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif+Caption:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
			{% include "public/css/__reset.css" %}
			{% include "public/css/_root.css" %}
			{% include "public/css/styles.css" %}
			{% include "public/css/code.css" %}
		{% endcss %}
		{% js %}
			{% include "public/js/spa.js" %}
			{% include "public/js/particles.js" %}
			{% include "public/js/themes.js" %}
		{% endjs %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<script type="module" src="{% getBundleFileUrl "js" %}" defer></script>
	</head>
	<body>
		<div class="wall">
			<div class="panel">{{ content | safe }}</div>
		</div>
		<canvas class="background"></canvas>
	</body>
</html>
